{:kotoba.app/id "cloud.itonami.isic-1079", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieqfvgvu34igpurvhing6acrjs7enpzipjaq7woyrxwnurpg6fzia", :kotoba.app/embed-url "ipfs://bafkreieqfvgvu34igpurvhing6acrjs7enpzipjaq7woyrxwnurpg6fzia", :published {:archive "https://kotobase.net/ipfs/bafkreieqfvgvu34igpurvhing6acrjs7enpzipjaq7woyrxwnurpg6fzia", :size 72707, :put-status 201, :get-status 200, :at "2026-08-15T13:53:23.602Z"}}
